html {
  font-size: 0.5vw;
}
body {
  position: relative;
  background-color: #f2eedd;
  background-image: url('./img/parllexImg.jpeg');
  background-position: center;
  /*background-repeat: no-repeat;*/
  height: 400rem;
  min-height: 300vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.scroll {
  position: absolute;
  top: 50vh;
  left: 50%;
  margin-left: -7rem;
  width: 14rem;
  height: auto;
  font-family: 'futura-pt', Futura, Helvetica, sans-serif;
  font-weight: bold;
  letter-spacing: 0.3rem;
  text-align: center;
  text-transform: uppercase;
  font-size: 3rem;
  color: #405d86;
}
.scroll svg {
  margin: 0 2rem;
}
.scroll .arrow-1 {
  position: relative;
  z-index: 1;
}
.scroll .arrow-2 {
  margin-top: -120%;
}
.word {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
.letter {
  position: relative;
  margin: 0 1.8rem;
}
.letter:first-of-type {
  margin-right: -2rem;
}
.form {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.form svg {
  display: block;
  width: 100%;
  height: auto;
}
.fill-1 {
  fill: url(#gradient-2);
}
.fill-2 {
  fill: url(#gradient-6);
}
.fill-3 {
  fill: url(#gradient-3);
}
.fill-4 {
  fill: url(#gradient-1);
}
.fill-5 {
  fill: url(#gradient-4);
}
.fill-6 {
  fill: url(#gradient-5);
}
.hidden {
  position: absolute;
  top: -1000rem;
  left: -1000rem;
  width: 0;
  height: 0;
}
.button {
  position: absolute;
  width: 24rem;
  height: 10rem;
  bottom: 50vh;
  left: 50%;
  margin-left: -12rem;
  font-family: 'futura-pt', Futura, Helvetica, sans-serif;
  font-weight: bold;
  letter-spacing: 0.3rem;
  text-align: center;
  line-height: 10rem;
  text-transform: uppercase;
  font-size: 3rem;
  text-decoration: none;
  background-image: url('./img/blake-verdoorn-cssvEZacHvQ-unsplash.jpg');
  color: #fff;
}

